.root {
  display: flex;
  width: 100%;
  height: 600px;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  min-width: 0;
  background: url("/plasmic/furn_e_commerce/images/tableBanner.jpeg") 0% 0% / cover;
}
.box___7WYj9 {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 33%;
  opacity: 0.95;
  min-height: 0;
  background: rgb(74, 76, 79);
}
.box__lDqD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 60%;
  padding: 32px 24px;
}
.box__lDqD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box__lDqD > :global(.__wab_flex-container) > *,
.box__lDqD > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
.box__xEk29 {
  position: relative;
  color: rgb(255, 255, 255) /* plasmic-token: 30rs9cBi0mzVEG */;
  font-size: 24px;
  font-weight: 700;
}
.box___9GjEb {
  position: relative;
  color: rgb(255, 255, 255) /* plasmic-token: 30rs9cBi0mzVEG */;
}
.box__g7Daa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__hcde9 {
  color: rgb(255, 255, 255) /* plasmic-token: 30rs9cBi0mzVEG */;
  font-size: 14px;
}
.box__xZz2K {
  position: relative;
  color: rgb(233, 156, 46) /* plasmic-token: LuigUkKHcIPp_c */;
}
.box___8N1G {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box___8N1G > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box___8N1G > :global(.__wab_flex-container) > *,
.box___8N1G > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.linkButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
