.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
}
.box___3GDaO {
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: space-between;
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
}
.box__v7EdP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 60%;
  padding: 32px 24px;
}
.box__v7EdP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box__v7EdP > :global(.__wab_flex-container) > *,
.box__v7EdP > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
.box___8HBzh {
  position: relative;
  font-size: 28px;
  color: rgb(153, 141, 128) /* plasmic-token: W7A51tytugbadd */;
}
.box__lxkxp {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: -0EWclw7pTfpbD */;
  font-size: 40px;
}
.box__jxpkA {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: eWC1FU7hSq72En */;
}
.box__xmtJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.box__uMqo {
  display: flex;
  position: relative;
  height: 1px;
  flex-direction: row;
  width: 32px;
  flex-shrink: 0;
  border: 1px solid rgb(97, 96, 96) /* plasmic-token: -0EWclw7pTfpbD */;
}
.box__nunK8 {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: -0EWclw7pTfpbD */;
}
.box__fdty {
  position: relative;
  color: rgb(188, 183, 178) /* plasmic-token: uFa9xBAfTu6kVt */;
  text-decoration-line: line-through;
}
.box__wOdJs {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__wOdJs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__wOdJs > :global(.__wab_flex-container) > *,
.box__wOdJs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.linkButton__a16OV:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__qwVa1:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__vdkmn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 40%;
  height: 100%;
  min-height: 0;
}
.img {
  position: relative;
  object-fit: contain;
  width: 100%;
  min-width: 0;
}
.box__wwvos {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__wwvos > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__wwvos > :global(.__wab_flex-container) > *,
.box__wwvos > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.svg___8Fcxy {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: LuigUkKHcIPp_c */;
  width: 1em;
  height: 1em;
}
.svg__zuGl {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: LuigUkKHcIPp_c */;
  width: 1em;
  height: 1em;
}
.svg__yY32U {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: LuigUkKHcIPp_c */;
  width: 1em;
  height: 1em;
}
